mixin authShowcase
  .auth-showcase
    .auth-showcase__banners
      - const banners = ['/img/banner1.png', '/img/banner2.png', '/img/banner3.png']
      each banner, index in banners
        .auth-showcase__banner
          img(src=banner alt=`Banner ${index + 1}`)
