footer.footer
  .footer__container
    .footer__top
      .footer__logo
        img(src='/img/logo-blue.png' alt='LLK logo')
        h3.footer__slogan Lưu giữ - Lắng đọng - Khám phá
      .footer__contact
        h4 Liên hệ (Contact)
        p
          i.fas.fa-map-marker-alt
          | Khu Công nghệ cao Xa lộ Hà Nội, Hiệp Phú, Thủ Đức, Hồ Chí Minh, Việt Nam
        p
          i.fas.fa-phone
          | Số điện thoại: 038****234
        p
          i.fas.fa-envelope
          | Email:
          | transysonlam@gmail.com
      .footer__links
        h4 Dịch vụ (Services)
        ul
          li: a(href='#') Tour trong nước (Domestic Tours)
          li: a(href='#') Tour quốc tế (International Tours)
          li: a(href='#') Vé máy bay (Flight Tickets)
          li: a(href='#') Khách sạn (Hotels)
          li: a(href='#') Thuê xe (Car Rental)
      .footer__about
        h4 Về chúng tôi (About Us)
        ul
          li: a(href='#') Giới thiệu (About)
          li: a(href='#') Tải ứng dụng (Download App)
          li: a(href='#') Trở thành hướng dẫn viên (Become a Guide)
          li: a(href='#') Tuyển dụng (Careers)
          li: a(href='#') Liên hệ (Contact)
    
    .footer__middle
      .footer__payment
        h4 Thanh toán (Stripe)
        .payment-icons
          i.fab.fa-cc-visa
          i.fab.fa-cc-mastercard
          i.fab.fa-cc-stripe
          //- img(src='/img/momo.png' alt='MoMo')
      
      .footer__social
        h4 Kết nối (Connect)
        .social-icons
          a(href='https://www.facebook.com/sonlammmmmm/'): i.fab.fa-facebook
          a(href='https://www.instagram.com/sonlammmmmm/'): i.fab.fa-instagram
          a(href='#'): i.fab.fa-youtube
          a(href='#'): i.fab.fa-tiktok
          a(href='#'): i.fab.fa-zalo
    
    .footer__bottom
      p.footer__copyright &copy; 2025 by LLK Tours. Giấy phép kinh doanh lữ hành quốc tế số: 01-001/2020/TCDL-GP LHQT
      p.footer__license Đã đăng ký Bộ Công Thương Việt Nam | Thành viên Hiệp hội Du lịch Việt Nam
