header.site-header
  .site-header__inner
    a.site-header__brand(href='/')
      img(src='/img/logo-blue.png' alt='LLK logo' class='site-header__logo')

    nav.site-nav
      ul.site-nav__list
        li
          a.site-nav__link(href='/' data-scroll='home') Trang chủ
        li
          a.site-nav__link(href='/') Tours
        li.site-nav__item--dropdown
          a.site-nav__link.site-nav__link--dropdown(href='#') Giới thiệu
            i.dropdown-arrow: i.fa-solid.fa-chevron-down
          ul.site-nav__dropdown
            li
              a(href='#') Về chúng tôi
            li
              a(href='#') Hướng dẫn viên
            li
              a(href='#') Lịch sử phát triển
        li
          a.site-nav__link(href='#') Liên hệ

    .site-header__actions
      .site-header__hotline
        i.fa-solid.fa-phone
        .site-header__hotline-info
          span Hotline 24/7
          a(href='tel:0123456789') 0123 456 789

      if user
        .user-dropdown
          button.user-dropdown__toggle(type='button')
            img.nav__user-img(src=`/img/users/${user.photo}` alt=`${user.name}`)
            .user-info
              span.user-name= user.name
              span.user-role
                if user.role === 'admin'
                  | Quản trị viên
                else if user.role === 'lead-guide'
                  | Trưởng đoàn
                else if user.role === 'guide'
                  | Hướng dẫn viên
                else if user.role === 'user'
                  | Khách hàng
            i.fa-solid.fa-chevron-down

          ul.user-dropdown__menu
            li
              a(href='/me')
                i.fa-solid.fa-user
                span Trang cá nhân
            if user.role === 'user'
              li
                a(href='/my-tours')
                  i.fa-solid.fa-ticket
                  span Tours đã tham gia
              li
                a(href='/my-reviews')
                  i.fa-solid.fa-star
                  span Đánh giá
              li
                a(href='/my-promotions')
                  i.fa-solid.fa-gift
                  span Khuyến mãi
              li
                a(href='/my-billing')
                  i.fa-solid.fa-credit-card
                  span Lịch sử thanh toán
            li.divider
            li
              a.logout-btn(href='/logout')
                i.fa-solid.fa-lock-open
                span Đăng xuất
      else
        .site-header__auth
          a.site-nav__link.site-nav__link--ghost(href='/login')
            i.fa-solid.fa-lock
            span Đăng nhập
          a.site-nav__link.site-nav__link--cta(href='/signup')
            i.fa-solid.fa-pen-to-square
            span Đăng ký
