extends adminLayout

block adminContent
  .llk-admin-topbar
    .llk-admin-topbar__left
      h1.llk-admin-topbar__title Chat khách hàng
      p.llk-admin-topbar__subtitle Giữ kết nối với người dùng theo thời gian thực.
    .llk-admin-topbar__right
      button.btn.btn--ghost(type='button')
        svg(width='16' height='16')
          use(xlink:href='/img/icons.svg#icon-archive')
        |  Lưu hội thoại

  section.llk-admin-panel
    .llk-chat-wrapper
      aside.llk-chat-sidebar
        h3 Danh sách Chat
        .llk-search-box
          input#user-search(type='text', placeholder='Tìm kiếm người dùng...')
        ul#user-list

      section.llk-chat-main
        #chat-box.llk-chat-box
          .llk-chat-empty Chọn người dùng để bắt đầu chat
        form#chat-form.llk-chat-form
          input#chat-input(type='text', placeholder='Nhập tin nhắn...' autocomplete='off')
          button.llk-send-btn(type='submit')
            i(class="fa-solid fa-paper-plane")
            |  Gửi

block append scripts
  script(src="/js/chatAdmin.js")
