extends base

block content
  main.main
    .user-view
      nav.user-view__menu
        .admin-nav
          h5.admin-nav__heading Quản lý
          ul.side-nav
            li
              a(href='/admin/dashboard')
                svg
                  use(xlink:href='/img/icons.svg#icon-home')
                | Dashboard
            li
              a.active(href='/admin/chat')
                svg
                  use(xlink:href='/img/icons.svg#icon-message-square')
                | Chat khách hàng
            li
              a(href='/admin/tours')
                svg
                  use(xlink:href='/img/icons.svg#icon-map')
                | Quản lý tours
            li
              a(href='/admin/users')
                svg
                  use(xlink:href='/img/icons.svg#icon-user')
                | Quản lý User
            li
              a(href='/admin/bookings')
                svg
                  use(xlink:href='/img/icons.svg#icon-briefcase')
                | Lịch sử đặt tour

      .user-view__content
        .user-view__form-container
          h2.heading-secondary.mb-3 CHAT KHÁCH HÀNG
          .llk-chat-wrapper
            aside.llk-chat-sidebar
              h3 Danh sách Chat

              // Ô tìm kiếm người dùng
              .llk-search-box
                input#user-search(type='text', placeholder='Tìm kiếm người dùng...')

              ul#user-list
                li.llk-user-empty Chưa có cuộc trò chuyện nào

            section.llk-chat-main
              #chat-box.llk-chat-box
                .llk-chat-empty Chọn người dùng để bắt đầu chat
              form#chat-form.llk-chat-form
                input#chat-input(type='text', placeholder='Nhập tin nhắn...' autocomplete='off')
                button.llk-send-btn(type='submit')
                  i(class="fa-solid fa-paper-plane")
                  |  Gửi

block scripts
  script(src="/js/chatAdmin.js")
