extends base

block content
  main.main
    .admin-chat-page
      // Sidebar người dùng
      aside.chat-sidebar
        h2.heading-secondary.mb-3
          i(class="fa-solid fa-users")
          |  Người dùng
        ul#user-list
          each u in users
            li.user-item(data-userid=u._id data-username=u.name)
              i(class="fa-solid fa-user-circle") 
              |  #{u.name}

      // Khu vực chat chính
      section.chat-main
        h2.heading-secondary.mb-3
          i(class="fa-solid fa-comments")
          |  Chat khách hàng
        #chat-box.chat-box
          .chat-empty Chọn người dùng để bắt đầu chat
        form#chat-form.chat-form
          input#chat-input(type='text', placeholder='Nhập tin nhắn...' autocomplete='off')
          button.btn.btn--blue(type='submit')
            i(class="fa-solid fa-paper-plane")
            |  Gửi

block scripts
  //- Socket.io đã được load ở base.pug, chỉ cần load script
  script(src="/js/chatAdmin.js")