extends base
include _userPortalMenu

block content
  main.main.user-portal-instance
    section.user-portal
      +userPortalMenu('chat')
      .user-portal__content
        section.chat-panel
          .chat-panel__heading
            h2.heading-secondary Chat với Admin
            p Gửi tin nhắn bất cứ lúc nào để được hỗ trợ nhanh chóng trước và trong chuyến đi.
          #chat-box.llk-chat-box
            if (!messages || messages.length === 0)
              .chat-panel__empty Chưa có tin nhắn nào. Hãy bắt đầu cuộc trò chuyện!
          form#chat-user-form.llk-chat-form
            input#chat-user-input(type='text', placeholder='Nhập tin nhắn...', autocomplete='off')
            button.llk-send-btn(type='submit')
              i(class='fa-solid fa-paper-plane')
              |  Gửi

append scripts
  script.
    window.userId = '#{user._id}';
    window.userName = '#{user.name}';
    window.chatMessages = !{JSON.stringify(messages || [])};
  script(defer src='/js/chatUser.js')
