extends base

block content
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          li
            a(href='/me')
              svg
                use(xlink:href='/img/icons.svg#icon-user')
              | Hồ sơ
          li
            a.active(href='/chat')
              svg
                use(xlink:href='/img/icons.svg#icon-message-square')
              | Chat với Admin

      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Chat với Admin
          #chat-box.llk-chat-box
            if (!messages || messages.length === 0)
              .llk-chat-empty Chưa có tin nhắn nào
          form#chat-user-form.llk-chat-form
            input#chat-user-input(type='text', placeholder='Nhập tin nhắn...' autocomplete='off')
            button.llk-send-btn(type='submit')
              i(class="fa-solid fa-paper-plane")
              |  Gửi

append scripts
  script.
    // Truyền thông tin user hiện tại và lịch sử tin đã render
    window.userId = '#{user._id}';
    window.userName = '#{user.name}';
    window.chatMessages = !{JSON.stringify(messages || [])};
  script(defer src="/js/chatUser.js")
