extends base

block content
  main.main
    .error
      .error__title
        h2.heading-secondary.heading-secondary--error Có gì đó sai sai ở đây rồi   
        h2.error__emoji 😢 🤯
      .error__msg= msg