extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Quên mật khẩu
      p.form__text
        | Vui lòng nhập email mà bạn đã đăng ký. Chúng tôi sẽ gửi một liên kết để đặt lại mật khẩu đến địa chỉ này.

      form.form.form--forgot-password
        .form__group
          label.form__label(for='email') Email của bạn
          input#email.form__input(type='email', placeholder='you@example.com', required)

        .form__group
          button.btn.btn--green(type='submit')
            i.fa.fa-paper-plane(style='margin-right: 0.7rem')
            | Gửi liên kết đặt lại

        .form__group.form__links.right
          a.form__link(href='/login')
            i.fa.fa-arrow-left(style='margin-right: 0.5rem')
            | Quay lại đăng nhập
