extends base

block content
  main.main.user-portal-instance
    section.user-reset
      .user-reset__card
        h2.heading-secondary Khôi phục mật khẩu
        p Dễ dàng đặt lại mật khẩu mới, bảo mật tài khoản và tiếp tục khám phá những hành trình đáng nhớ cùng LLK Travel.
        form.form.form--reset-password
          input#token(type='hidden', value=`${token}`)
          .form__group
            label.form__label(for='password') Mật khẩu mới
            input#password.form__input(type='password', placeholder='********', required, minlength='8')
          .form__group
            label.form__label(for='passwordConfirm') Xác nhận mật khẩu
            input#passwordConfirm.form__input(type='password', placeholder='********', required, minlength='8')
          .form__group.form__group--actions
            button.btn.btn--green Đặt lại mật khẩu
