extends base

block content
  main.main
    .signup-form
      h2.heading-secondary.ma-bt-lg Đăng ký
      form.form.form--signup
        .form__group
          label.form__label(for='name') Tên
          input#name.form__input(type='text', placeholder='Nhập tên của bạn', required)
        .form__group
          label.form__label(for='email') Email
          input#email.form__input(type='email', placeholder='your@email.com', required)
        .form__group.ma-bt-md
          label.form__label(for='password') Mật khẩu
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='password-confirm') Xác nhận mật khẩu
          input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.right
          button.btn.btn--orange Đăng ký